<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceDelAutomotor"
        tools:targetApi="31">
        <activity
            android:name=".QuienesSomos"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAuw8XpEVZKwhmpNaeMur5P6PjQyZiLEws" />

        <activity
            android:name=".SolicitarTurnoServicio"
            android:exported="false" />
        <activity
            android:name=".UpdateServiicio"
            android:exported="false" />
        <activity
            android:name=".LeerInformacionPersonal"
            android:exported="true"></activity>
        <activity
            android:name=".crud.ListaClientes"
            android:exported="true" />
        <activity
            android:name=".crud.ActualizarCliente"
            android:exported="true" />
        <activity
            android:name=".crud.AgregarCliente"
            android:exported="true" />
        <activity
            android:name=".ListadoServicios"
            android:exported="true" />
        <activity
            android:name=".AgregarServicio"
            android:exported="true" />
        <activity
            android:name=".Nosotros"
            android:exported="true"></activity>
        <activity
            android:name=".confirmar_contrasena"
            android:exported="false" />
        <activity
            android:name=".crud.ActualizarMecanico"
            android:exported="true" />
        <activity
            android:name=".crud.ListaMecanicos"
            android:exported="true" />
        <activity
            android:name=".MenuAdmin"
            android:exported="true" />
        <activity
            android:name=".UpdateSucursal"
            android:exported="false" />
        <activity
            android:name=".ListadoSucursales"
            android:exported="false" />
        <activity
            android:name=".crud.AgregarMecanico"
            android:exported="true" />
        <activity
            android:name=".AgregarSucursal"
            android:exported="false" />
        <activity
            android:name=".RecuperarContrasena"
            android:exported="false" />
        <activity
            android:name=".MisTurnos"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Contacto"
            android:exported="false" />
        <activity
            android:name=".InformacionAuto"
            android:exported="false" />
        <activity
            android:name=".CargarInformacionPersonal"
            android:exported="true" />
        <activity
            android:name=".ConfirmarTurno"
            android:exported="true" />
        <activity
            android:name=".SolicitarTurno"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Iniciar_sesion"
            android:exported="false" />
        <activity
            android:name=".PresupuestoActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SelectSiniestro"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.servicedelautomotor.MainActivity" />
        </activity>
        <activity
            android:name=".activity_confirma_ayuda"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.servicedelautomotor.MainActivity" />
        </activity>
        <activity
            android:name=".SiniestrosActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.servicedelautomotor.MainActivity" />
        </activity>
        <activity
            android:name=".Dashboard"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:exported="true"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MecanicoActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FormMecanico"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Servicios"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>